.pagenav {
    background-color: royalblue;
    padding: 0.5em;
    overflow:hidden;
}
nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    margin-right: 0.5em;
}
nav ul li a {
    padding: 0.5em;
    text-decoration: none; /* no underline */
    background-color: white; /* pale bluish white */
    color: darkblue; /* dark blue */
    /*border: 2px solid black;*/
     border-top-left-radius: 1em 1em; /* rounded corner! */
    border-top-right-radius: 1em 1em; /* another rounded corner! */
  }
  nav ul li a:hover, nav ul li a:focus {
    color: black;
    background-color: lightgray;
    font-weight: bold;
  }